.blogs-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;

  .single-blog {
    border: 1px solid grey;
    border-radius: 3px;
    padding: 10px;
    margin: 0 10px;
    width: 250px;
    height: 250px;
    text-align: center !important;

    .title {
      font-size: 20px;
      font-weight: 600;
    }

    .content {
      padding: 10px 0;
    }
  }
}
