.list-content-container {
  .title {
    font-size: 30px;
    text-align: center;
    font-weight: 500;
  }
  .list-content-content {
    margin: 0 20px;
    .input-search {
      position: relative;
      margin-bottom: 10px;
      i {
        position: absolute;
        top: 11px;
        right: 10px;
        cursor: pointer;
      }
    }
    .custom-table {
      max-height: 50vh;
      overflow-x: auto;
      overflow-y: auto;
      margin: 20px 0;
      .sort-header {
        display: flex;
        justify-content: space-between;
        i {
          padding: 0 2px;
          cursor: pointer;
        }
      }
    }
  }
  .pagination {
    justify-content: center;
  }
}
